#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

#define ______ &trans
#define xxxxxx &none

#define L_QW 0
#define L_DV 1
#define L_KP 2
#define L_SYM 3
#define L_FN 4
#define L_MOD 5

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE LSHFT RSHFT>;
    /delete-property/ ignore-modifiers;
};

&lt {
  quick-tap-ms = <200>;
};

&sl {
    release-after-ms = <1000>;
};

&sk {
    quick-release;
};

/ {

    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

#if 0
      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
#endif

      KP_NZS: mod_morph_KP_N0_space {
          compatible = "zmk,behavior-mod-morph";
          label = "KP_NZS";
          bindings = <&kp KP_N0>, <&kp SPACE>;
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          keep-mods = <(MOD_LSFT|MOD_RSFT)>;
      };

      td_caps: tap_dance_caps {
          compatible = "zmk,behavior-tap-dance";
          #binding-cells = <0>;
          tapping-term-ms = <200>;
          bindings = <&caps_word>, <&kp CAPS>;
      };

      td_LSHFT: tap_dance_lshft {
          compatible = "zmk,behavior-tap-dance";
          #binding-cells = <0>;
          tapping-term-ms = <150>;
          bindings = <&kp LSHFT>, <&caps_word>;
      };

      td_RSHFT: tap_dance_rshft {
          compatible = "zmk,behavior-tap-dance";
          #binding-cells = <0>;
          tapping-term-ms = <150>;
          bindings = <&kp RSHFT>, <&caps_word>;
      };

      ht_pre: hold_tap_prefix {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "tap-unless-interrupted";
          tapping-term-ms = <2000>;
          bindings = <&pre>, <&kp>;
      };

      /* Morphs for Programmer Dvorak */

#define MM_PD(NAME, KEY, MOD_KEY, MODS) \
  dv_##NAME: dv_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    #binding-cells = <0>; \
    bindings = <&kp KEY>, <&kp MOD_KEY>; \
    mods = <MODS>; \
  }

      MM_PD(EQUAL, HASH,  GRAVE, (MOD_LSFT|MOD_RSFT));  /* = + -> # ` */
      MM_PD(N1,    AMPS,  PRCNT, (MOD_LSFT|MOD_RSFT));  /* 1 ! -> & % */
      MM_PD(N2,    LBKT,  N7,    (MOD_LSFT|MOD_RSFT));  /* 2 @ -> [ 7 */
      MM_PD(N3,    LBRC,  N5,    (MOD_LSFT|MOD_RSFT));  /* 3 # -> { 5 */
      MM_PD(N4,    RBRC,  N3,    (MOD_LSFT|MOD_RSFT));  /* 4 $ -> } 3 */
      MM_PD(N5,    LPAR,  N1,    (MOD_LSFT|MOD_RSFT));  /* 5 % -> ( 1 */
      MM_PD(N6,    EQUAL, N9,    (MOD_LSFT|MOD_RSFT));  /* 6 ^ -> = 9 */
      MM_PD(N7,    ASTRK, N0,    (MOD_LSFT|MOD_RSFT));  /* 7 & -> * 0 */
      MM_PD(N8,    RPAR,  N2,    (MOD_LSFT|MOD_RSFT));  /* 8 * -> ) 2 */
      MM_PD(N9,    PLUS,  N4,    (MOD_LSFT|MOD_RSFT));  /* 9 ( -> + 4 */
      MM_PD(N0,    RBKT,  N6,    (MOD_LSFT|MOD_RSFT));  /* 0 ) -> ] 6 */
      MM_PD(MINUS, EXCL,  N8,    (MOD_LSFT|MOD_RSFT));  /* - _ -> ! 8 */
      MM_PD(GRAVE, DLLR,  TILDE, (MOD_LSFT|MOD_RSFT));  /* ` ~ -> $ ~ */
      MM_PD(RBKT,  AT,    CARET, (MOD_LSFT|MOD_RSFT));  /* ] } -> @ ^ */

    };

     /* key-positions
      *
      *  0  1  2  3  4  5  6   7  8  9 10 11 12 13
      * 14 15 16 17 18 19 20  21 22 23 24 25 26 27
      * 28 29 30 31 32 33 34  39 40 41 42 43 44 45
      * 46 47 48 49 50 51        54 55 56 57 58 59
      * 60 61 62 63 64              71 72 73 74 75
      *                35 36  37 38
      *                   52  53
      *             65 66 67  68 69 70
      */
    combos {
      compatible = "zmk,combos";
      combo_ctrl_backslash_left_hand {
          timeout-ms = <25>;
	  require-prior-idle-ms = <100>;
	  key-positions = <18 32>;
	  bindings = <&pre_ctrl BACKSLASH>;
      };
      combo_ctrl_backslash_right_hand {
          timeout-ms = <25>;
	  require-prior-idle-ms = <100>;
	  key-positions = <23 41>;
	  bindings = <&pre_ctrl BACKSLASH>;
      };

      combo_ctrl_pipe_left_hand {
          timeout-ms = <25>;
	  require-prior-idle-ms = <100>;
	  key-positions = <17 31>;
	  bindings = <&pre_ctrl PIPE>;
      };
      combo_ctrl_pipe_right_hand {
          timeout-ms = <25>;
	  require-prior-idle-ms = <100>;
	  key-positions = <24 42>;
	  bindings = <&pre_ctrl PIPE>;
      };
    };

    macros {
      pre_ctrl: prefix_ctrl {
          compatible = "zmk,behavior-macro-one-param";
	  wait-ms = <0>;
	  tap-ms = <0>;
          #binding-cells = <1>;
          bindings
	    = <&macro_press &kp LCTRL>
	    , <&macro_param_1to1>
            , <&macro_tap &kp MACRO_PLACEHOLDER>
            , <&macro_release &kp LCTRL>
            ;
      };

      pre: prefix {
          compatible = "zmk,behavior-macro-one-param";
	  wait-ms = <0>;
	  tap-ms = <0>;
          #binding-cells = <1>;
          bindings
	    = <&macro_press &kp LALT>
	    , <&macro_param_1to1>
            , <&macro_tap &kp MACRO_PLACEHOLDER>
            , <&macro_release &kp LALT>
            ;
      };
    };

/************************************
      bindings = <
 ______         ______      ______        ______      ______         ______     ______                                                           ______     ______     ______        ______        ______           ______           ______
 ______         ______      ______        ______      ______         ______     ______                                                           ______     ______     ______        ______        ______           ______           ______
 ______         ______      ______        ______      ______         ______     ______     ______         ______       ______     ______         ______     ______     ______        ______        ______           ______           ______
 ______         ______      ______        ______      ______         ______                               ______       ______                               ______     ______        ______        ______           ______           ______
 ______         ______      ______        ______      ______                    ______     ______         ______       ______     ______         ______                ______        ______        ______           ______           ______
      >;
************************************/

  keymap {
    compatible = "zmk,keymap";

    querty {
      display-name = "querty";
      bindings = <
 &kp EQUAL      &kp N1      &kp N2        &kp N3      &kp N4         &kp N5     &tog L_KP                                                        &mo L_MOD  &kp N6     &kp N7        &kp N8        &kp N9           &kp N0           &kp MINUS
 &ht_pre N TAB  &kp Q       &kp W         &kp E       &kp R          &kp T      &kp PSCRN                                                        &kp INS    &kp Y      &kp U         &kp I         &kp O            &kp P            &kp BSLH
 &ht_pre O ESC  &kp A       &kp S         &kp D       &kp F          &kp G      ______     &kp LCTRL      &kp LALT     &kp LGUI   &kp RCTRL      &to L_DV   &kp H      &kp J         &kp K         &kp L            &kp SEMI         &kp SQT
 &td_LSHFT      &kp Z       &kp X         &kp C       &kp V          &kp B                                &kp HOME     &kp PG_UP                            &kp N      &kp M         &kp COMMA     &kp DOT          &kp FSLH         &td_RSHFT
 &mo L_FN       &kp GRAVE   &td_caps      &kp LEFT    &kp RIGHT                 &kp BSPC   &kp SPC        &kp END      &kp PG_DN  &kp ENTER      &kp SPACE             &kp UP        &kp DOWN      &kp LBKT         &kp RBKT         &mo L_FN
      >;
    };

    dvorak {
      display-name = "dvorak";
      bindings = <
 &dv_EQUAL      &dv_N1      &dv_N2        &dv_N3      &dv_N4         &dv_N5     &tog L_KP                                                        &mo L_MOD  &dv_N6     &dv_N7        &dv_N8        &dv_N9           &dv_N0           &dv_MINUS
 &ht_pre N TAB  &kp SEMI    &kp COMMA     &kp DOT     &kp P          &kp Y      &kp PSCRN                                                        &kp INS    &kp F      &kp G         &kp C         &kp R            &kp L            &kp BSLH
 &ht_pre O ESC  &kp A       &kp O         &kp E       &kp U          &kp I      ______     &kp LCTRL      &kp LALT     &kp LGUI   &kp RCTRL      &to L_QW   &kp D      &kp H         &kp T         &kp N            &kp S            &kp MINUS
 &td_LSHFT      &kp SQT     &kp Q         &kp J       &kp K          &kp X                                &kp HOME     &kp PG_UP                            &kp B      &kp M         &kp W         &kp V            &kp Z            &td_RSHFT
 &mo L_FN       &dv_GRAVE   &td_caps      &kp LEFT    &kp RIGHT                 &kp BSPC   &lt L_KP DEL   &kp END      &kp PG_DN  &lt L_SYM RET  &kp SPACE             &kp UP        &kp DOWN      &kp FSLH         &dv_RBKT         &mo L_FN
      >;
    };

    keypad {
      display-name = "KP";
      bindings = <
 xxxxxx         xxxxxx      xxxxxx        xxxxxx      xxxxxx         xxxxxx     &tog L_KP                                                        ______     xxxxxx     &kp KP_EQUAL  &kp KP_DIVIDE &kp KP_MULTIPLY  xxxxxx           xxxxxx
 &kp TAB        xxxxxx      &kp LC(LEFT)  &kp UP      &kp LC(RIGHT)  xxxxxx     ______                                                           ______     xxxxxx     &kp KP_N7     &kp KP_N8     &kp KP_N9        &kp KP_MINUS     xxxxxx
 &tog L_KP      &kp HOME    &kp LEFT      &kp DOWN    &kp RIGHT      &kp END    ______     ______         ______       ______     ______         ______     xxxxxx     &kp KP_N4     &kp KP_N5     &kp KP_N6        &kp KP_PLUS      xxxxxx
 ______         xxxxxx      xxxxxx        xxxxxx      xxxxxx         xxxxxx                               ______       ______                               xxxxxx     &kp KP_N1     &kp KP_N2     &kp KP_N3        &kp KP_ENTER     ______
 ______         xxxxxx      ______        xxxxxx      xxxxxx                    ______     ______         ______       ______     ______         &kp KP_N0             xxxxxx        xxxxxx        &kp KP_DOT       xxxxxx           ______
      >;
    };

    symbols {
      display-name = "SYM";
      bindings = <
 &kp POUND      xxxxxx      xxxxxx        xxxxxx      xxxxxx         xxxxxx     xxxxxx                                                           xxxxxx     xxxxxx     xxxxxx        xxxxxx        xxxxxx           xxxxxx           xxxxxx
 xxxxxx         &kp SEMI    &kp COMMA     &kp DOT     &kp COLON      &kp UNDER  xxxxxx                                                           xxxxxx     &kp CARET  &kp EQUAL     &kp PRCNT     &kp AMPS         &kp BSLH         xxxxxx
 xxxxxx         &kp LT      &kp LBRC      &kp LBKT    &kp LPAR       &kp DOLLAR xxxxxx     &kp LCTRL      &kp LALT     &kp LGUI   &kp RCTRL      xxxxxx     &kp EXCL   &kp RPAR      &kp RBKT      &kp RBRC         &kp GT           xxxxxx
 xxxxxx         &kp GRAVE   &kp APOS      &kp DQT     &kp TILDE      &kp PIPE                             xxxxxx       xxxxxx                               &kp QMARK  &kp PLUS      &kp MINUS     &kp STAR         &kp FSLH         xxxxxx
 xxxxxx         xxxxxx      xxxxxx        xxxxxx      xxxxxx                    &kp BSPC   &kp DEL        xxxxxx       xxxxxx     xxxxxx         xxxxxx                xxxxxx        xxxxxx        xxxxxx           &kp AT           xxxxxx
      >;
    };

    fn {
      display-name = "Fn";
      bindings = <
 &kp F1         &kp F2      &kp F3        &kp F4      &kp F5         &kp F6     ______                                                           ______     &kp F7     &kp F8        &kp F9        &kp F10          &kp F11          &kp F12
 &kp F13        &kp F14     &kp F15       &kp F16     &kp F17        &kp F18    ______                                                           ______     &kp F19    &kp F20       &kp F21       &kp F22          &kp F23          &kp F24
 &kp K_CMENU    &tog L_KP   &tog L_KP     &tog L_KP   &tog L_KP      &tog L_KP  ______     ______         ______       ______     ______         ______     &tog L_KP  &tog L_KP     &tog L_KP     &tog L_KP        &tog L_KP        &tog L_KP
 ______         xxxxxx      &kp K_CUT     &kp K_COPY  &kp K_PASTE    xxxxxx                               ______       ______                               ______     xxxxxx        xxxxxx        xxxxxx           xxxxxx           ______
 ______         xxxxxx      ______        &kp HOME    &kp END                   &kp SPACE  &kp ENTER      ______       ______     ______         ______                &kp PG_UP     &kp PG_DN     xxxxxx           xxxxxx           ______
      >;
    };

    mod {
      display-name = "Mod";
      bindings = <
 xxxxxx  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  xxxxxx                                                                         ______                  &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  xxxxxx
 xxxxxx  xxxxxx        xxxxxx        xxxxxx        xxxxxx        xxxxxx        &bootloader                                                                    &bootloader             xxxxxx           xxxxxx        xxxxxx        xxxxxx        xxxxxx        xxxxxx
 xxxxxx  xxxxxx        xxxxxx        xxxxxx        xxxxxx        xxxxxx        &rgb_ug RGB_MEFS_CMD 5  &bt BT_CLR  &bt BT_CLR        &bt BT_CLR  &bt BT_CLR   &rgb_ug RGB_MEFS_CMD 5  xxxxxx           xxxxxx        xxxxxx        xxxxxx        xxxxxx        xxxxxx
 xxxxxx  xxxxxx        xxxxxx        xxxxxx        xxxxxx        xxxxxx                                            xxxxxx            xxxxxx                                           xxxxxx           xxxxxx        xxxxxx        xxxxxx        xxxxxx        xxxxxx
 xxxxxx  xxxxxx        xxxxxx        &bl BL_INC    &bl BL_DEC                  &rgb_ug RGB_TOG         &bl BL_TOG  xxxxxx            xxxxxx      &bl BL_TOG   &rgb_ug RGB_TOG                          &bl BL_INC    &bl BL_DEC    xxxxxx        xxxxxx        xxxxxx
      >;
    };

    extra1 {
      display-name = "Red";
      status = "reserved";
    };

    extra2 {
      display-name = "Purple";
      status = "reserved";
    };

    extra3 {
      display-name = "Cyan";
      status = "reserved";
    };

    extra4 {
      display-name = "Yellow";
      status = "reserved";
    };
  };
};
